<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="specialjumb">
  <div class="container-fluid">
    <h1>Welcome to Workterest!</h1>
    <p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
  </div>
</div>

<div class="about">
  <div class="container"> <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
       <h3><span class="glyphicon glyphicon-pushpin"></span> Curate</h3>
        <p>Curate knowledge. There is so much out there. Help guide your teams to knowledge-share.</p>
    </div>
    <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-share-alt"></span> Share</h3>
      <p>Share what you know. Share useful knowledge with your team. Send to them to learn. Help brainstorm.</p>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-wrench"></span> Build</h3>
      <p>Build skills and a training path for your team. Grow your team's skills.</p>
    </div>
  </div>
  </div> 
</div>

<a name="contact"></a>
<div class="contact">
  <div class="container"> <!-- Example row of columns -->
    <h2>Contact Us</h2>
    <p>hello@workterest.com</p>
</div>
</div>

<hr >
<!-- /container -->